{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<h1 align="center">FUD Checker</h1>
<form method="POST">
  <div class="mb-3">
    <label for="inputText" class="form-label">Post URL</label>
    <input type="text" id="postURL" name="postURL" class="form-label" />
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<div>
  <p>Post Title: {{title}}</p>
  <p>Number of Comments: {{comments}}</p>
  <p>Upvote Ratio: {{upvote_ratio}}</p>
</div>
{% endblock %}
